body {
    background-image:radial-gradient(#26062F, #310f3a)
}
.main {
    margin: auto;
    margin-top: 2%;
    width: 95%;
    height: 900px;
    background-color: #E7E1E1;
    opacity: 90%;
    border-radius: 3vw;
    margin-bottom: 0px !important;
}
.content {
    font-size: 1vw;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    transform: translate(0%, 4%);
    color: black;
    height: 90%;
}
.formData {
    background-color: #26062F;
    width: 20%;
    height: wrap;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    position: relative;
    margin-left:38%;
    padding: 1.5vw;
    border-radius: 1vw;
}
input {
    margin-top: 0.4vw;
    font-size: 1vw;
    background-color: #E7E1E1;
    border: none;
    border-radius: 3px;
}
#white {
    color: #E7E1E1;
    font-family: 'Ubuntu', sans-serif;
}
.checkbox {
    margin-top: 1vw;
}
button {
    font-family: 'Ubuntu', sans-serif;
    font-size:1vw;
    margin-top:1vw;
    width: 9vw;
    background-color: #E7E1E1;
    border: none;
    border-radius: 1vw;
}
button:hover {
    background-color: #421546;
    color:white;
    border: 1px solid white;
}